.bro-text {
  margin-left: 500px;
}
@media screen and (min-width: 1024px) {
  .bro-text {
    margin-left: 500px;
  }
}

/* For Tablet View */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bro-text {
    margin-left: 350px;
  }
}

/* For Mobile Portrait View */
@media screen and (max-width: 480px) and (orientation: portrait) {
  .bro-text {
    margin-left: 10px;
  }
}

/* For Mobile Landscape View */
/* @media screen and (max-width: 640px) and (orientation: landscape) {
  .bro-text {
    margin-left: 80px;
  }
} */

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-width: 640px) {
  .bro-text {
    margin-left: 30px;
  }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .bro-text {
    margin-left: 30px;
  }
}

/* For iPhone 5 Portrait or Landscape View
@media (device-height: 568px) and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  .bro-text {
    margin-left: 80px;
  }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
/* @media (min-height: 667px) and (min-device-width: 375px) and (-webkit-min-device-pixel-ratio: 3) {
  .bro-text {
    margin-left: 80px;
  }
} */
